  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
 /* font-family: 'Pacifico', cursive; */

  @import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');
  /* font-family: 'Caveat', cursive; */
  

  @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');/* font-family: 'Caveat', cursive;*/
  /* font-family: 'Architects Daughter', cursive;*/

  .navbar-brand{
    font-family: 'Pacifico', cursive;
 }

 .navbar{
   background-color:  #f5f4f0 !important;
   transition: 0.2s background-color;

 }

 .nav-item .nav-link{
    font-family: 'Architects Daughter', cursive;
    color: black;
    font-size: 17px;
    padding-left: 2px;
 }
.nav-item.dropdown .userAccount img{
    width: 25px !important;
    height: 25px !important;
    border-radius: 50%;
}