
.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    color: black;
    width: 40px;
    height: 40px;
    background-color: #f5f4f0;
    border-radius: 50%;

}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 20px;

}

.swiper-pagination-bullets,
swiper-pagination-bullet-active {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;

}

.swiper-pagination-bullet {
    background-color: rgb(178, 178, 178);
    width: 11px;
    height: 11px;
}

a {
    text-decoration: none;
    color: black;

}
/* Categories Details*/
.products{
    font-family: 'Montserrat Alternates', sans-serif;

}
.products .category-img{
    width: 200px;
    height: 300px;
}
.products .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.products .product .btn {
    border-radius: 0px;
 background-color: black;
 color: #fff;
}
.products .product .btn:hover {
    background-color: #fff;
    border-color: black;
    color: black;
}
.products .product{
    width: 70%;
    border-bottom: 1px solid #edebe6;
    padding-bottom: 10px;
}
