.profile{
    background-color: rgba(213, 213, 213, 0.892);
    display: flex;
    gap: 30px;
    
   

}
.profileLinks {
    width: 300px;
    border: 2px solid gray;
}
.userData{
    flex-grow: 1;
}
.profileLinks nav{
    background-color:rgba(238, 238, 238, 0.892);
    height:100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

    border: 2px solid rgb(229, 229, 229);

}

.profileLinks nav a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid rgb(228, 228, 228);
    

}