.profile{
    display: flex;
    gap: 30px;
    font-family: 'Arsenal', sans-serif;
   margin-top: 4px;

}
.profileLinks {
    width: 300px;
}
.userData{
    flex-grow: 1;
}
.profileLinks nav{
    height:100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    

}
.profileLinks nav {
    margin: auto;
    align-items: center;
}
.profileLinks nav a{
    border-bottom: 1px solid #edebe6;
    color: #060606;;
    font-size: 20px;
    text-decoration: none;
    width: 70%;
    display: flex;
    justify-content: center;
    

}

.order h2{

    width: 45%;
    border-bottom: 2px solid #edebe6;

}
.order li{
    list-style-type: none
}